

<div class="contenedorFacturas">
  <a [routerLink]="['/inicio/facturas', 'factura1']" routerLinkActive="facturaSeleccionada" [@flyInOutPFacturas]><div class="factura"></div></a>
  <a [routerLink]="['/inicio/facturas', 'factura2']" routerLinkActive="facturaSeleccionada" [@flyInOutPFacturas]><div class="factura"></div></a>
  <a [routerLink]="['/inicio/facturas', 'factura3']" routerLinkActive="facturaSeleccionada" [@flyInOutPFacturas]><div class="factura"></div></a>
  <a [routerLink]="['/inicio/facturas', 'factura4']" routerLinkActive="facturaSeleccionada" [@flyInOutPFacturas]><div class="factura"></div></a>
  
</div>

<router-outlet></router-outlet>