
.contenedorFacturas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.315);
    a{
        padding: 0px;
        margin: 10px;
    }
    .factura{
        box-sizing: border-box;
        width: 100px;
        height: 110px;
        background-color: grey;
        // 
        background-image: url("./../../assets/media/factura.png");
        background-size: cover;
        border: solid 2px grey;
        
    }
}

.facturaSeleccionada{
    box-sizing: border-box;
    width: 100px;
    height: 110px;
    border: solid 3px rgb(0, 0, 0);
    
}