
<div class="containerAll">
  <div class="infoFactura"> 
    <p><span>Cliente:</span> {{factura.cliente}}</p>
    <p><span>Fecha:</span> {{factura.fecha}}</p>
    <p><span>IVA:</span> {{factura.IVA}}</p>
    <p><span>Importe:</span> {{factura.importe}} €</p>
    <p><span>Productos:</span><button class="btn btn-info btn-xs" (click)="showProductos()">    {{productos}} ▼</button></p>
    <div class="productosContainer" *ngIf="productosVisible">
      <table class="table table-condensed table-sm">
        <tr> <th>Producto</th> <th>Cantidad</th> </tr>
        <tr *ngFor="let producto of factura.productos"> <td><a [routerLink]="['/inicio/facturas', facturaID, producto.nombre]" routerLinkActive="productoSeleccionado">{{producto.nombre}}</a></td> <td style="text-align:center">{{producto.cantidad}}</td></tr>
      </table>
    </div>
  </div>

  <div class="containerInfoProducto">
    <router-outlet></router-outlet>
  </div>

</div>