


<div class="containerWall">
  <img src="./../../assets/media/ILoveRouterOutlet.png">
  <div class="containerCredenciales">
    <label for="usuario"></label>
    <div class="input-group input-credential">
      <div class="input-group-prepend">
        <span class="input-group-text ">Usuario</span>
      </div>
      <input type="text" class="form-control" id="username" >
    </div>
    <label for="password"></label>
    <div class="input-group input-credential">
      <div class="input-group-prepend">
        <span class="input-group-text">Contraseña</span>
      </div>
      <input type="text" class="form-control" id="username" >
    </div>
    <div class="botonEntrar">
      <a routerLink="/inicio"><button type="button" class="btn btn-success boton">Entrar</button></a>
    </div>
  </div> 
</div> 


<div class="URLshow"><p>{{miURL }}</p></div>
